@page
@model RegisterModel
@{
    ViewData["Title"] = "Sign Up";
    Layout = "_AuthLayout";
}

<link href="~/css/authStyle.css" rel="stylesheet" />

<body>
    <div class="container text-center">
        <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <label class="headLabel mb-4">Регистрация аккаунта</label>
            <div class="input-group mb-3">
                <input asp-for="Input.Email" type="text" class="form-control" placeholder="Введите адрес электронной почты">
                <span asp-validation-for="Input.Email"></span>
            </div>
            <div class="input-group mb-3">
                <input asp-for="Input.FullName" type="text" class="form-control" placeholder="Введите полное имя">
            </div>
            @*<button type="submit" asp-page-handler="OnPostAsync" class="btn btn-success" style="width: 100%">Зарегистрироваться</button>*@
            <button type="submit" class="btn btn-success" style="width: 100%">Зарегистрироваться</button>
            <hr />
            <a class="redirectLink mb-2" href="@Url.Action("Identity/Account/Login", "")">Уже есть аккаунт? Войти</a>
        </form>
    </div>
</body>

